1. Tìm hiểu dữ liệu
Nhóm thực hiện chọn một tập dữ liệu từ các kho dữ liệu tham khảo phổ biến 
sau: 
- Kho Dữ liệu Học Máy của trường UC Irvine 
- Các tập dữ liệu trên Kaggle 
- Các tập dữ liệu trên Amazon AWS 
- Data Portals 
- Danh sách các tập dữ liệu Học Máy trên Wikipedia 
Sau đó, thực hiện việc mô tả chi tiết về dữ liệu đã chọn (lịch sử, nguồn gốc, công 
dụng, danh sách các đặc trưng, kiểu dữ liệu, mục đích, lĩnh vực, hạn chế, khiếm 
khuyết,…) 
2. Thực hiện xử lý dữ liệu
Nhóm xây dựng chương trình cho phép đọc tập dữ liệu và xử lý các yêu cầu đề 
xuất sau: 
– Tổ chức chương trình theo modules – packages, theo từng nhóm chức năng, 
công dụng, mục đích,… 
– Tìm hiểu việc làm sạch dữ liệu (sửa chữa, loại bỏ dữ liệu không chính xác 
hoặc được định dạng không chính xác, trùng lặp dữ liệu, gán nhãn sai,…). 
– Tìm hiểu việc chuẩn hóa thống nhất dữ liệu (nếu có). 
– Vận dụng Numpy, Pandas vào quá trình làm sạch, chuẩn hóa dữ liệu. 
– Tìm hiểu việc trực quan hóa dữ liệu (matplotlib). 
– Vẽ các loại biểu đồ để biểu diễn dữ liệu trong tập dữ liệu nguồn. 
– Vận dụng các kiến thức về kiểu dữ liệu phức, hàm, xử lý tập tin, xử lý 
chuỗi,… – Xây dựng giao diện chương trình (optional). 